/* Fonte Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

body * {
	box-sizing: border-box;
}

:root {
	--primary-color: #2e3440;
	--secondary-color: #d8dee9;
	--four-color: #434c5e;
	--button-color: #4c566a;
}
.dark-theme {
	--primary-color: #eceff4;
	--secondary-color: #2e3440;
	--third-color: #e5e9f0;
	--four-color: #d8dee9;
	--button-color: #88c0d0;
}

.button-dark {
	background-color: var(--four-color);
	padding: 0.4rem;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 0px 20px var(--button-color);
}

nav {
	background-color: var(--primary-color);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 20px; /* Reduz o padding para ocupar menos espaço verticalmente */
	width: 100%;
	position: fixed; /* Fixa a navbar no topo da tela */
	top: 15px;
	left: -10px;
	z-index: 1000;
}

#icon {
	width: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Container principal */
.main-login {
	width: 100vw;
	height: 100vh;
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Área do left-login */
.left-login {
	width: 55vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Título h1 */
.left-login > h1 {
	font-size: 3vw;
	color: #88c0d0;
}

/* Imagem */
.left-image {
	width: 30vw;
	max-width: 100%;
	height: auto; /* Proporção mantida */
}

/* Área do right-login */
.right-login {
	width: 40vw;
	height: 100vh;
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: var(--third-color);
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}

.card-login > h2 {
	color: #8fbcbb;
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
}

/* Textos e inputs */
.textfield {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0px;
}

.textfield > input {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: var(--four-color);
	color: #e5e9f0;
	font-size: 12px;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

.textfield > label {
	color: var(--secondary-color);
	margin-bottom: 10px;
}

.textfield > input::placeholder {
	color: var(--secondary-color);
}

.btn-login {
	width: 100%;
	padding: 16px 0px;
	margin: 25px;
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: var(--primary-color);
	background: #8fbcbb;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #a3d4d4;
}

/* Responsividade para telas médias (max-width: 950px) */
@media only screen and (max-width: 950px) {
	.card-login {
		width: 85%;
	}
}

/* Responsividade para telas pequenas (max-width: 600px) */
@media only screen and (max-width: 600px) {
	.main-login {
		flex-direction: column;
	}

	.left-login {
		width: 100%;
		height: auto;
	}

	.left-login > h1 {
		display: none;
	}

	.left-image {
		width: 50vw;
	}

	.right-login {
		width: 100%;
		height: auto;
	}

	.card-login {
		width: 90%;
	}
	nav {
		justify-content: center; /* Centraliza o ícone em telas menores */
		padding: 5px 10px; /* Reduz o padding em telas pequenas */
	}

	#icon {
		width: 20px; /* Reduz o ícone ainda mais em telas pequenas */
	}
}
